<div id="game">
	<h3>Hi <%= session[:player_name] %>, Welcome to Blackjack!</h3>

	<%if @error %>
	      <div class="alert alert-error"><%=@error%></div>
	<% end %>
	<%if @success %>
	  <div class="alert alert-success"><%=@success%></div>
	<% end %>

	<% if @play_again %>
		<p>
			<strong>Play again?</strong>
			<a href="/bet" class="btn btn-primary">Yes</a>
			<a href="/game_over" class="btn btn-warning">No</a>
		</p>
	<% end %>

	<div class="well">
		<h4>Dealer Cards:</h4>
		<% session[:dealer_cards].each_with_index do |card, i|%>
			<%if session[:turn] != 'dealer' && i==0 %>
				<img src="/images/cards/cover.jpg">
			<% else %>
			<%= card_img(card) %>
			<% end %>
		<% end %>

		<% if !@hit_stay %>
			<h4>Dealer has: <%= score(session[:dealer_cards]) %> points</h4>
		<% end %>
		<% if @dealer_hit %>
			<form id="dealer_hit" action="/game/dealer/hit" method="post">
				<input type='submit' value='Show next dealer card' class='btn'/>
			</form>
		<% end %>
	</div>

	<div class="well">
		<h4>Player Cards:</h4>
		<% session[:player_cards].each do |card|%>
			<%= card_img(card) %>
		<% end %>
		<h4>You have: <%= score(session[:player_cards]) %> points, and you have wagered a bet of $<%= session[:player_bet] %> with $<%= session[:player_pot] %> in your pot.</h4>
	</div>

	<%if @hit_stay %>
		<p>What would you like to do?</p>
		<form id="hit_form" action="/game/player/hit" method="post">
			<input type="submit" value="hit" name="hit" class="btn btn-success"/>
		</form>
		<form id="stay_form" action="/game/player/stay" method="post">
			<input type="submit" value="stay" name="stay" class="btn btn-warning"/>
		</form>
	<%end%>
</div>